site_name: National 5 Computer Science
nav:
    - Home: 'index.md'
    - Unit 1 - Software Design and Development:
      - SDD/index.md
      - Development Methodologies: 'SDD/1.0-Development-Methodologies.md'
      - Analysis:     
          - Analysis: 'SDD/2.0-Analysis.md'
          - Functional Requirements: 'SDD/2.1-Functional-Requirements.md'
      - Design:
          - Explanation: 'SDD/3.0-Design.md'
          - Structure Diagrams: 'SDD/3.1-Structure-Diagrams.md'
          - Flowcharts: 'SDD/3.3-Flowcharts.md'
          - Pseudocode: 'SDD/3.4-Pseudocode.md'
          - Designing a User Interface: 'SDD/3.5-Designing-a-User-Interface.md'
          - Identfying Data Types and Structures: 'SDD/3.6-Identfying-Data-Types-and-Structures.md'
      - Software Implementation:
          - Explanation: 'SDD/4.0-Software-Implementation.md'
          - Input and Output: 'SDD/4.1-Input-and-Output.md'
          - Variables and Data Types: 'SDD/4.2-Variables-and-Data-Types.md'
          - Simple Conditional Statements: 'SDD/4.3-Simple-Conditional-Statements.md'
          - Complex Conditional Statements: 'SDD/4.4-Complex-Conditional-Statements.md'
          - Fixed Loops (for): 'SDD/4.5-Fixed-Loops-(for).md'
          - Conditional Loops (while): 'SDD/4.6-Conditional-Loops-(while).md'
          - Pre-defined Functions: 'SDD/4.7-Pre-defined-Functions.md'
      - Testing:
          - Explanation: 'SDD/5.0-Testing.md'        
          - Normal, Extreme and Exceptional Test Data: 'SDD/5.1-Normal-Extreme-and-Exceptional-Test-Data.md'
          - Types of Errors: 'SDD/5.2-Types-of-Errors.md'
      - Evaluation:
          - Explanantion: 'SDD/6.0-Evaluation.md'
          - Fitness for Purpose: 'SDD/6.1-Fitness-for-Purpose.md'
          - Efficient use of Coding Constructs: 'SDD/6.2-Efficient-use-of-Coding-Constructs.md'
          - Robustness: 'SDD/6.3-Robustness.md'
          - Readability: 'SDD/6.4-Readability.md'
          - Evaluation Summary: 'SDD/6.5-Summary-Evaluation.md'
    - Unit 2 - Computer Systems:
      - CS/index.md
    - Unit 3 - Database Design and Development:
      - DDD/index.md   

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
theme:
  name: material
  font:
    text: Quicksand
  palette: 
    - scheme: slate
      toggle:
       icon: material/weather-sunny
       name: Dark mode
      primary: green
      accent: deep purple

    - scheme: default
      toggle:
       icon: material/weather-night
       name: Light mode
      primary: blue
      accent: deep orange
  icon:
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.indexes 
